*.pdf
Assignment\ 1/Sidak/

Assignment 3/Question 1 (Unrefined Approach).py
Assignment 4/test.py
*.gitignore
Assignment 4/Q4.py
Assignment 5/test Q1.py
/Assignment 5/test Q2.py
/Assignment 5/test.py
/Assignment 5/test Q3.py
/Assignment 5/test Q4.py
/Assignment 5/test Q5.py
!Assignment 5/GUI output.pdf

Assignment 5/Assignment-5_Python_MSB_21104129_Output.py
Assignment 5/Assignment-5_Python_MSB_21104129.py
Assignment 5/GUI output.pdf
Assignment 5/Output Screenshots/Question 1.png
Assignment 5/Output Screenshots/Question 2.png
Assignment 5/Output Screenshots/Question 3(1).png
Assignment 5/Output Screenshots/Question 3(2).png
